//--------------------------------------------------------------
// Contact info
//--------------------------------------------------------------
.contact-info {
    &__title {
        font-size:rem-calc(21);
        margin-top:rem-calc(12);
        margin-bottom:rem-calc(27);
    }

    &__contact-links {
        
    }

    &__contact-link {
        display:block;
        color:$brand-red;

        &:hover {
            color:$brand-red;
            text-decoration:underline;
        }
    }

    &__google-link {
        color:inherit;
        &:hover {
            color:inherit;
        }
    }
}

//--------------------------------------------------------------
// Contact form wrapper
//--------------------------------------------------------------
.contact-form-wrapper {

    &__title {
        margin-bottom:rem-calc(27);
    }
}