//--------------------------------------------------------------
// Intro block
//--------------------------------------------------------------
.fp-intro {
    background-color:$brand-red;
    color:white;
    padding:rem-calc(50 20);
    position:relative;
    z-index:1;
    margin-bottom:rem-calc(36);
    
    @include breakpoint(medium) {
        padding:rem-calc(50);
        margin-top:rem-calc(-110);
        margin-bottom:rem-calc(36);
    }

    &__title {

    }

    &__content {

    }

    &__text {
        padding:rem-calc(15 0 15 0);

        @include breakpoint(medium) {
            padding:rem-calc(15 40 15 0);
        }

        p {
            margin-bottom:0;

            a {
                color:inherit;
                text-decoration:underline;
            }
        }
    }

    &__contact-box {
        padding:rem-calc(16 0 0 0);
        white-space: nowrap;
       
        @include breakpoint(medium) {
            border-left:1px solid rgba(white,0.3);
            padding:rem-calc(15 0 15 40);
        }

        p {
            margin-bottom:0;
        }
    }

    &__contact-link {
        display:block;
        color:white;
    }
}

//--------------------------------------------------------------
// Fp about
//--------------------------------------------------------------
.fp-about {
    
    @include breakpoint(medium) {
        text-align:center;
        margin-top:rem-calc(16);
        margin-bottom:rem-calc(76);
    }

    p {

        @include breakpoint(medium) {
            font-size:rem-calc(17);
        }
    }
}

//--------------------------------------------------------------
// Services
//--------------------------------------------------------------
.site-services {
    margin-bottom:rem-calc(36);
   
    .columns {
        &:nth-child(1),
        &:nth-child(3) {
            .service {
                background-color:#DDDDDD;
            }
        }
        &:nth-child(2),
        &:nth-child(4) {
            .service {
                background-color:#eee;
            }
        }
        @include breakpoint(medium) {
            &:nth-child(1),
            &:nth-child(4) {
                .service {
                    background-color:#DDDDDD;
                }
            }
            &:nth-child(2),
            &:nth-child(3) {
                .service {
                    background-color:#eee;
                }
            }
        }
    }
}


.service {
    background-color:#eee;
    padding:rem-calc(40 20);
    transition:all 0.3s ease-in-out;

    @include breakpoint(medium) {
        min-height:200px; 
    }

    &__inner {
        max-width:rem-calc(480);
    }

    &__title {
        margin-bottom:rem-calc(12);
        font-size:rem-calc(19);
        
        @include breakpoint(medium) {
            margin-bottom:rem-calc(20);
            font-size:rem-calc(27);
        }

    }

    &__text {
        p {
            margin-bottom:0;
        }
    }

    &:hover {
        background-color:$brand-red!important;
        color:$white!important;
    }
}

//--------------------------------------------------------------
// Quote
//--------------------------------------------------------------
.flexible-content-block--quote{
    .quote {
        font-family: $header-font-family;
        line-height:2;
        font-size:rem-calc(17);

        @include breakpoint(medium) {
            text-align:center;
            font-size:rem-calc(21);
        }
    }
}

//--------------------------------------------------------------
// Projecten
//--------------------------------------------------------------
.fp-projecten {
    
    @include breakpoint(medium) {
        background-color:#EEE;

        p {
            margin-bottom:0;
        }
    }

    &__intro {
        
        @include breakpoint(medium) {
            text-align: center;
            padding-top:rem-calc(100);
            padding-bottom:rem-calc(90);
        }
    }
}


//--------------------------------------------------------------
// Referenties
//--------------------------------------------------------------
.testimonials {
    background-position: top center;
    background-repeat: no-repeat;
    background-size:contain;
    padding-top:rem-calc(90);
    padding-bottom:rem-calc(90);

    @include breakpoint(medium) {
        padding-top:rem-calc(150);
        padding-bottom:rem-calc(165);
    }

    &__title {
        margin-bottom:rem-calc(30);
        @include breakpoint(medium) {
            text-align: center;
            margin-bottom:rem-calc(60);
        }
    }

    .testimonial {
        
        &__quote {
            font-family: $header-font-family;
            font-style:italic;
            font-size:rem-calc(16);
            margin-bottom:rem-calc(16);

            @include breakpoint(medium) {
                font-size:rem-calc(21);
                margin-bottom:rem-calc(32);
            }
        }

        &__quoter {
            color:#868686;
            font-size:rem-calc(14);
            @include breakpoint(medium) {
                font-size:rem-calc(16);
            }
        }

        @include breakpoint(medium) {
            text-align:center;
        }
    }

    &__more-link {
        color:$brand-red;
        font-family: $header-font-family;
        font-size:rem-calc(15);
       
        @include breakpoint(medium) {
            text-align: center;
            display: block;
            font-size:rem-calc(16);
        }

        &:hover {
            color:$brand-red;
            text-decoration: underline;
        }
    }

}