.flexible-content-block {
    margin-bottom:rem-calc(40);

    // Margin-top
    &--margin-top {
        margin-top:rem-calc(30);
    }

    // no-margin-bottom
    &--no-margin-bottom {
        margin-bottom:0;
    }

    // no-margin-top
    &--no-margin-top {
        margin-top:0!important;
    }

    // background-color
    &--background-color-grey {
        background-color:#eee;
    }

    // Padded block
    &--padded-block {
        padding:rem-calc(90 0);
    }
}

//--------------------------------------------------------------
// Wysiwyg Block
//--------------------------------------------------------------
.flexible-content-block--wysiwyg {
    p {
        &:last-child{
            margin-bottom:0;
        }
    }

    a {
        color:$brand-red;

        &:hover {
            text-decoration: underline;
        }
    }

    // If there is more then 1 column
    .row {
        .columns {
            margin-bottom:rem-calc(32);
            &:last-child{
                margin-bottom:0;
            }
        }
    }

    
}

//--------------------------------------------------------------
// Project Links Block
//--------------------------------------------------------------
.flexible-content-block--project-links {
    p {
        font-family:$header-font-family;
        margin-bottom:rem-calc(15);
        
        &:last-child{
            margin-bottom:0;
        }
    }

    a {
        color:$body-font-color;

        &:hover {
            text-decoration: underline;
        }
    }

    // If there is more then 1 column
    .row {
        .columns {
            margin-bottom:rem-calc(32);
            &:last-child{
                margin-bottom:0;
            }
        }
    }
}


//--------------------------------------------------------------
// Seperator Block
//--------------------------------------------------------------
.flexible-content-block--seperator {
    
    .seperator {
        width:rem-calc(110);
        border-color:$brand-red;
        margin:rem-calc(10) auto rem-calc(50);
        
        @include breakpoint(medium) {
            margin:rem-calc(64) auto rem-calc(90);
        }
    }
}

//--------------------------------------------------------------
// Project Thema Block
//--------------------------------------------------------------
.flexible-content-block--thema {

    margin-bottom:rem-calc(70);
    
    margin-top:rem-calc(30);
    
    @include breakpoint(medium) {
        margin-bottom:rem-calc(80);

        margin-top:rem-calc(60);
    }

    // no margin-top
    &--no-margin-top {
        margin-top:0;
    }

}


// Project thema itself
.project-thema {
    position:relative;

    &__title {
        background-color:rgba($brand-red,0.8);
        color:white;
        text-align: center;
        height:rem-calc(55);
        line-height:rem-calc(55);
        position:absolute;
        bottom:rem-calc(40);
        left:rem-calc(50);
        right:rem-calc(50);
    }

    &__image-wrapper {
        img {
            width:100%;
        }
    }
}

//--------------------------------------------------------------
// Referentie block
//--------------------------------------------------------------
.flexible-content-block--referenties {
    .referentie-header {
        margin-bottom:rem-calc(30);
    }

    .referentie-image {
        width:rem-calc(26);
    }
    .referentie-country {
        font-family:$header-font-family;
        font-size:rem-calc(21);
    }
}