//--------------------------------------------------------------
// container
//--------------------------------------------------------------
.container {
  max-width:rem-calc(1480);
  margin:0 auto;
}

.main-wrap {
  position:relative;
  
  @include breakpoint(medium) {
    padding-top:rem-calc(40);

    // Grey top 
    &:after {
      content:'';
      display: block;
      position:absolute;
      z-index:-1;
      top: 0;
      height:rem-calc(90);
      width:100%;
      background-color:#DDD;
    }
  }

  &--no-image {
    padding-top:rem-calc(100);

    // Grey top 
    &:after {
      content:'';
      display: block;
      position:absolute;
      z-index:-1;
      top: 0;
      height:rem-calc(60);
      width:100%;
      background-color:#DDD;
    }
    
    @include breakpoint(medium){
      padding-top:rem-calc(190);

      // Grey top 
      &:after {
        content:'';
        display: block;
        position:absolute;
        z-index:-1;
        top: 0;
        height:rem-calc(90);
        width:100%;
        background-color:#DDD;
      }
    }
  }

  &--padding-bottom {
    padding-bottom:rem-calc(100);

    @include breakpoint(medium){
      padding-bottom:rem-calc(190);
    }
  }

  &--background-image {
    background-position:top center;
    background-repeat:no-repeat;
    z-index:-2;
    background-attachment: fixed;
  }
}