//--------------------------------------------------------------
// Global menu link styles
//--------------------------------------------------------------
.footer-menu .current_page_item,
.footer-menu.menu > li,
.mobile-menu .current_page_item,
.mobile-menu .menu-item,
.desktop-menu.menu > li {
  &.menu-item:hover,
  &.current-menu-item {
    a {
      color:$brand-red;
    }
  }
}

// Top bar z index
.site-header.sticky.is-stuck  {
  z-index:99999;
}


// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}

.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}


// Site title
.site-mobile-title a {
  // placeholder
}

.site-desktop-title a {
  font-weight: bold;
}

// Mobile menu
.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload
}

// Logo
.site-logo {
  height:rem-calc(50);
}

.mobile-menu,
.mobile-off-canvas-menu {
  font-family:$header-font-family;

  // submenu arrow
  .is-accordion-submenu-parent {
    > a::after {
      border-color: $accordionmenu-arrow-color transparent transparent;
    }
    &.active > a::after {
      border-color: $menu-item-color-active transparent transparent;
    }
  }

  // Mobile menu links
  ul {
    text-align:center;
    border-top:1px solid #EEE;

    li {
      border-bottom:1px solid #EEE;

      a {
        font-size:rem-calc(13);
        text-transform:uppercase;
        color:#202020;
        padding:rem-calc(19 0 18);
      }
    }
  }



  // current page
  .current_page_item > a {
    font-weight: bold;
  }
}



// Tablet and desktop menu
.desktop-menu {
  font-family:$header-font-family;

  // submenu arrow
  li.is-dropdown-submenu-parent {
    > a::after {
      border-color: $accordionmenu-arrow-color transparent transparent;
    }
    &.active > a::after {
      border-color: $menu-item-color-active transparent transparent;
    }
  }

  &.menu > li > a {
    color:#202020;
    text-transform:uppercase;
    font-size:rem-calc(15);
    padding:rem-calc(10);
  }

  &.menu > li:last-child a {
    padding-right:0;
  }
}

.site-navigation {
  @include breakpoint(small only) {
    padding: 0; // prevents container visibility on small screens
  }
}

//--------------------------------------------------------------
// Collapse top bar right on mobile
//--------------------------------------------------------------
.top-bar-right {
  @include breakpoint(small down) {
    &.columns {
      padding-left:0;
      padding-right:0;
    }
  }
}

//--------------------------------------------------------------
// Footer menu
//--------------------------------------------------------------
.footer-menu {
  
  li {
    
    a {
      color:#202020;
      padding:rem-calc(10) 0;
      font-size:rem-calc(14);
      
      @include breakpoint(medium) {
        padding:rem-calc(10);
        font-size:rem-calc(14);
      }
    }

    &:first-child {
      a {
        padding-left:0;
      }
    }
    &:last-child {
      a {
        padding-right:0;
      }
    }
  }

  &__uppercase {
    text-transform:uppercase;
    li {
      
      a {
        font-size:rem-calc(13);
      }
    }   
  }

  &__seperated {
    @include breakpoint(medium) {
      li {
        border-right:1px solid #AAA;
        
        &:last-child {
          border:0;
        }

        a {
          padding-top:0;
          padding-bottom:0;
        }
      }
    }
  }
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}



//--------------------------------------------------------------
// Page sub menu
//--------------------------------------------------------------
.magellan-sub-menu {
  
}

.sub-menu {
  border-top:1px solid;
  border-bottom:1px solid;
  
  li {
    display:inline-block;
    color:#B9B9B9;
    
    a {
      font-family:$header-font-family;
      color:#B9B9B9;
      display:inline-block;
      padding:rem-calc(10 10);

      &.active {
        color:#202020;
      }
    }

    &:after {
      content:'-';
    }

    &:first-child {
      a {
        padding-left:0;
      }
    }

    &:last-child {

      &:after {
        content:'';
      }

      a {
         padding-right:0;
      }
    }
  }
}